.home {
   height: 100%;
   padding-bottom: 100px;
   background-size: 100% auto;
   background-color: #c1ab96;
   display: flex;
   align-items: center;
   font-family: 'M PLUS Rounded 1c', 'Sacramento', sans-serif;
   font-size: 18px;
   font-weight: 300;

    .home_box{
        background-color: none;
        width: 100%;
        position: relative;

        .title{
          background-color: none;
          margin-top: 15px;
          margin-left: 20px;
          font-family: 'Sacramento', cursive;
          font-size: 46px;
          font-weight: 600;
        }

        .list_box{
            margin-left: 25px;
            background-color: none;


            .search-box {
              display: flex;
              width: 30%;
          }
          .search-box input[type="text"] {
              flex-grow: 1;
              padding: 0.7rem 0 0.7rem 0.8rem;
              border: 1px solid #333947;
              border-radius: 1.5rem 0 0 1.5rem;
          }
          .search-box button {
              cursor: pointer;
              padding: .8rem .9rem .8rem .8rem;
              border-radius: 0 1.5rem 1.5rem 0;
              border: none;
              background-color: #333947;
              color: #fff;
              font-size: .75rem;
          }
          .search-box input:focus {
              outline: 0;
              border: 1px solid #4ab6f6;
          }
          .search-box button:hover {
              color: #4ab6f6;
          }
        }
      .pins-back{
        width: 1440px;
        height: 1150px;
        padding-bottom: 1000px;
        background: #FAC559CC;
        margin-left: 15px;
        margin-top: 15px;
      }
        .pins-container{
            background: none;
            width: 1390px;
            height: auto;
            padding-top: 3%;
            padding-left: 4%;
            margin: 0px;
            display:flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            width: 90%;

          .pins{
            width: 250px;
            height: auto;
            border-radius: 1rem;
            padding: 12px;
            background-color: #f5f1ed;
            margin-bottom: 20px;
            margin: auto;
            margin: 12px;
          }
        }

          .map_back{
            background-color: none;
            margin: 15px;
            padding-bottom: 30px;
          }
    }
}
