.Newpin{
  background-size: 100% auto;
  background-color: #c1ab96;
  display: flex;
  align-items: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;


    .newpin_box{
        background-color: none;

      .title{
         font-family: 'Sacramento', cursive;
         left: 600px;
         display: flex;
         padding-top: 15px;
         padding-left: 20px;
         color: black;
         font-size: 40px;
         font-weight: 600;
         text-align: center;
        }

      .field_area{
        width: 1390px;
        background: #FAC559CC;
        margin-left: 15px;
        margin-top: 15px; 
        padding: 15px;

         .field{
            background-color: none;
            font-size: 20px;

            .field_input{
              margin: 5px;
              width: 698px;
              height: 30px;
              margin-left: 40px;
              top: 200px;
              background-color: none;
            }
            .url_input{
              width: 698px;
              height: 30px;
              margin-top: 10px;
              margin-left: 51px;
            }
            .about_input{
              width: 684px;
              height: 100px;
              margin-top: 10px;
              padding: 8px;
            }
            .image_input{
              margin-top: 20px;
              margin-bottom: 15px;
            }
         }
      }

      .map_box{
        background: #FAC559CC;
        width: 1390px;
        margin-left: 15px;
        padding: 10px 15px;
        padding-bottom: 70px;
        .actions{
          color: #FAC559CC;
          display: none;
        }
        .map_input{
        width: 500px;
        height: 30px;
        }
        .search_input{
          height: 35px;
          width: 80px;
        }
      }
    .button{
      position: absolute;
      width: 150px;
      height: 10px;
      background-color: #F5F1ED;
      margin-top: 10px;
      padding-bottom: 30px;
      text-align: center;
      line-height: 20px;
      border-radius: 10px;
      .submit_button{
        font-size: 20px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        background-color:transparent;
        border:transparent;
        text-align: center;
      }
    }
  }
}